<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permiso de internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.ControlDeMedicamentosYArticulosDelHogar"
        tools:targetApi="31">
        <activity android:name=".ArticuloMySQLActivity"
            android:theme="@style/Theme.AppCompat.Dialog.NoTitle" />
        <activity
            android:name=".DetalleExistenciaActivity"
            android:exported="false" />
        <activity
            android:name=".DireccionActivity"
            android:exported="false" />
        <activity
            android:name=".SucursalFarmaciaActivity"
            android:exported="false" />
        <activity
            android:name=".SubCategoriaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CategoriaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClienteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacturaVentaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetalleVentaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ArticuloActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacturaCompraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetalleCompraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecetaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViaAdministracionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MarcaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FormaFarmaceuticaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProveedorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>